spring:
  application:
    name: jeap-initializer-service

server:
  port: 8080
  servlet:
    context-path: /${spring.application.name}

jeap:
  swagger:
    status: OPEN
  monitor:
    prometheus:
      secure: false
  initializer:
    templates:
      my-template:
        repository-configuration:
          url: https://server/repo.git
          reference: master
    platforms:
      my-cloud:
        name: Cloud Platform
        description: Some Cloud Platform
      my-container-platform:
        name: Container Platform
        description: Some Container Platform
